<div class="wrapper" style="display:block; margin:auto; width:40%;">
<%= link_to "home |", root_path %>
<%= link_to "new user", users_new_path %></br>
--------------------------------------
<h1>NEW USER</h1>
  <p>Tu as mal rempli ton formulaire ! <%= link_to "Try again!", users_new_path %>
  </p>